.Sidebar {
    width: 20%;
    border: 1px solid black;
    font-size: 15px;
    overflow: hidden;
    float: right;
}

.Sidebar-text {
    margin: 10px;
    width: 70%;
    font-weight: bold;
}

.Sidebar-Questionbubble {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.SectionName{
    align-items: center;
    padding: 8px;
    text-align: center;
    background-color: #00e6ff;
    font-weight: bold;
}

.StudentTitle{
    height: 40px;
    text-align: center;
    margin-top: 40px;
    font-weight: 700;
}

.Submit{
    background-color: #ffffff;
    color: #858585;
    margin-left: 40%;
    height: 30px;
    border-radius: 20px;
}

.ButtonDiv{
    margin-top: 63%;
    height: 30px;
    
}